/* Reset and ensure full screen */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: sans-serif;
  background-color: #eeeeee;
}

canvas {
  display: block;
}
